/**
 * Created by sunchengbin
 * 项目中通用的东西
 */
body {
  overflow-x: hidden;
  overflow-y: scroll;
}

body,
button,
input,
select,
textarea {
  font-family: system-ui, PingFang SC, Helvetica Neue, STHeiti, sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: $one_level_color;
  // -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
  vertical-align: middle;
}

.block {
  display: block;
}

.clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}

.noScroll {
  overflow: hidden;
  height: 100vh;
}

// 图片懒加载区块样式
.lazy {
  height: 0;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-color: $lazy_bg_color;
  background-size: contain;
}

@svg 1px-border {
  width: 4px;
  height: 4px;
  @rect {
    fill: transparent;  // content为透明
    width: 100%;  // 宽度为4px * 100%
    height: 100%;  // 高度为4px * 100%
    stroke-width: 25%;  // 边框宽度 4px * 25%(即1px)
    stroke: var(--color, black);  // 颜色
  }
}

.rank_btn {
  color: $rank_title_color!important;
  background: linear-gradient(170deg,#EE3C8C,#E1287B,#E223B3)
}

.msgbox-sub-title {
  font-weight: normal;
}
